.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px auto 32px auto;
  width: 100%;
  max-width: 500px;
  background: #030065;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
  padding: 6px 8px;
  gap: 10px;
}

.search-bar input[type="text"] {
  flex: 1;
  font-size: 1.1rem;
  padding: 10px 14px;
  border: 1px solid #ddd;
  outline: none;
  background: #fff;
  color: #222;
  transition: border 0.2s;
}

.search-bar input[type="text"]:focus {
  border: 1.5px solid #888;
}

.search-bar button {
  font-size: 1.1rem;
  font-weight: 500;
  padding: 10px 20px;
  border: 1px solid #ddd;
  background: #f8f8f8;
  color: #333;
  cursor: pointer;
  transition:
    background 0.2s,
    border 0.2s;
}

.search-bar button:hover {
  background: #333;
  color: #f8f8f8;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.status-message {
  font-size: 18px;
  color: #fff;
  margin-top: 20px;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.movie-card {
  width: 200px;
  height: 350px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: 5px solid #05008b;
  border-radius: 10px;
  background-color: #f8f8f8;
  margin: 10px;
}

.movie-card-poster {
  width: 100%;
  flex: 1 1 auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background: #f8f8f8;
  background: linear-gradient(to bottom, #353535 0%, #f8f8f8 100%);
}

.movie-card-poster img {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: contain;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #f8f8f8;
  display: block;
}

.movie-card-info {
  min-height: 40px;
  max-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6px 4px 6px 4px;
  background: #f8f8f8;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.movie-card-title {
  font-size: 15px;
  font-weight: bold;
  margin: 0 0 5px 0;
  text-align: center;
}

.movie-card-year {
  font-size: 15px;
  color: #666;
  margin: 0;
}
